<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <link rel="stylesheet" th:href="@{/css/tables.css}">
    <title>Cartões</title>
</head>
<body>

<div layout:fragment="content">

    <nav class="sidebar">

        <div class="main-routes">

            <div class="nav-panel">
                <a th:href="@{/dashboard/}" class="nav-panel">Dashboard</a>
            </div>

            <div class="nav-panel">
                <a th:href="@{/cards/create}" class="nav-panel">Adicionar cartão</a>
            </div>

            <div class="nav-panel">
                <a href="#" class="nav-panel">Atualizar informação do cartão</a>
            </div>

            <div class="nav-panel">
                <a href="#" class="nav-panel">Deletar cartão</a>
            </div>



        </div>

        
    </nav>




    <main class="main-content">


        <div th:if="${cardViews.isEmpty()}">
            <p>Você não tem nenhum cartão!! Clique <a class="redirect-anchor" th:href="@{cards/create}">aqui</a>
            para adicionar um à lista</p>
        </div>

        <table th:unless="${cardViews.isEmpty()}" class="entity-display-table">
            <thead>
                <tr>
                    <th>Número</th>
                    <th>Nome no cartão</th>
                    <th>Mês de expiração</th>
                    <th>Ano de expiração</th>
                    <th>Tipo</th>
                    <th>Marca</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="cardView : ${cardViews}">
                    <td th:text="'*********' + ${cardView.lastDigits}"></td>
                    <td th:text="${cardView.cardName}"></td>
                    <td th:text="${cardView.expirationMonth}"></td>
                    <td th:text="${cardView.expirationYear}"></td>
                    <td th:text="${cardView.cardType}"></td>
                    <td th:text="${cardView.brand}"></td>
                </tr>
            </tbody>
        </table>

    </main>


</div>
    
</body>
</html>