<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adicione o cartão</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <link rel="stylesheet" th:href="@{/css/forms.css}">
    <link rel="stylesheet" th:href="@{/css/backgrounds.css}">
    <script src="https://js.stripe.com/v3/"></script>

</head>
<body class="green-to-blue-bg">
    
    <div layout:fragment="content">

        <form th:action="@{/cards/create}" th:method="post" id="cardForm">
            <!-- CSRF Token for Spring Security -->
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />

            <input type="hidden" name="redirectUrl" th:value="${redirectUrl}"/>

            <!-- Hidden input to hold the Stripe Token -->
            <input type="hidden" name="stripeToken" id="stripeToken" />

            <label for="cardholderName">Nome no cartão</label>
            <input type="text" id="cardholderName" name="cardholderName" required />

            <br>

            <label for="cardDescription">Insira uma descrição para o Cartão (Ex.: Cartão Itaú Click)</label>
            <input type="text" id="cardDescription" name="cardDescription">


            <label for="card-element">Dados do Cartão (Número, Validade e CVC)</label>
            <div id="card-element"></div>


            <div id="card-errors" role="alert" style="color: red; margin-top: 10px;"></div>

            <br>

            <label for="cardType">Tipo do cartão</label>
            <select name="cardType" id="cardType" required>
                <option th:each="cardType : ${cardTypes}" th:value="${cardType}" th:text="${cardType}">
                </option>
            </select>

            <br>



            <button type="submit">Enviar</button>
        </form>

    </div>
    <script th:inline="javascript">
        /*<![CDATA[*/
        window.stripePublishableKey = /*[[${publicKey}]]*/ '';
        /*]]>*/
    </script>
    <script th:src="@{/js/src/create-card.js}"></script>
    <script th:src="@{/js/src/util.js}"></script>

</body>
</html>