<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Expense</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    
</head>
<body>
    
    <div layout:fragment="content">

        <p th:if="${paymentMethods.isEmpty()}">Você não tem nenhum método de pagamento!!</p>

        <form th:unless="${paymentMethods.isEmpty()}" th:action="@{/expenses/create}" th:method="post">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
            <p>Selecione a forma de pagamento</p>
            <label for="paymentMethodId"></label>
            <select name="paymentMethodId" id="paymentMethodId">
                <option th:each="method : ${paymentMethods}" th:value="${method.id}" th:text="${method.description}">
                </option>
            </select>
            <br>
            <p>Selecione a moeda</p>
            <label for="currencyId"></label>
            <select name="currencyId" id="currencyId">
                <option th:each="currency : ${currencies}" th:value="${currency.id}" th:text="${currency.currencyFlag}">
                </option>
            </select>
            <br>
            <label for="amount"></label>
            <input type="text" name="amount" id="amount" placeholder="Insira a quantidade" required>
            <br>
            <label for="extra"></label>
            <textarea name="extra" id="extra" cols="30" rows="10"></textarea>
            <br>
            <button type="submit" >Enviar</button>

        </form>

    </div>

    <script th:src="@{/js/create-expense.js}"></script>
</body>
</html>