<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adicionar Assinatura</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <link rel="stylesheet" th:href="@{/css/forms.css}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/themes/material_blue.css">
    <link rel="shortcut icon" th:href="@{/favicon.ico}" type="image/x-icon">
</head>
<body>
<div layout:fragment="content">

    <button class="back-button" type="button" onclick="window.history.back()">
        &#8592; Back
    </button>
   
    <form th:action="@{/subscriptions/create}" th:method="post">

        <h2>Adiciona uma assinatura</h2>

        <label for="subscriptionName">
            Nome da Assinatura
            <input type="text" name="subscriptionName" id="subscriptionName">
        </label>

        <label for="currencySelect">Selecione a moeda</label>
        <select name="currencySelect" id="currencySelect">
            <option th:each="currency : ${currencies}" th:value="${currency.id}" th:text="${currency.currencyFlag}" >BRL</option>
        </select>

        <label for="subscriptionPaymentForm">Selecione a forma de pagamento</label>
        <select name="subscriptionPaymentForm" id="subscriptionPaymentForm">
            <option th:each="pmethod : ${methods}" th:value="${pmethod.id}" th:text="${pmethod.description}"  >CARTAO</option>
        </select>

        <label for="subscriptionCost">Valor da Assinatura</label>
        <input type="text" name="subscriptionCost" id="subscriptionCost">

        <label for="dayOfCharging">Dia de cobrança</label>
        <input type="text" name="dayOfCharging" id="dayOfCharging" placeholder="Insira de 1 a 31    ">

        <label for="subscriptionCategory">Selecione uma categoria</label>
        <select name="subscriptionCategory" id="subscriptionCategory" required>
            <option th:each="c : ${categories}" th:value="${c.id}" th:text="${c.categoryName}"></option>
        </select>

        <button type="submit">Enviar</button>

    </form>


</div>
<script type="module" src="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.js"></script>
<script type="module" src="https://cdn.jsdelivr.net/npm/flatpickr/dist/l10n/pt.js"></script>
<script type="module">
    document.addEventListener('DOMContentLoaded', function() {
        flatpickr("#subscriptionStart", {
            dateFormat: "Y-m-d",
            altInput: true,
            altFormat: "d/m/Y",
            locale: flatpickr.l10ns.pt,
            allowInput: true
        });
    });
</script>
</body>
</html>