<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adicione o cartão</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <link rel="stylesheet" th:href="@{/css/forms.css}">
    <link rel="stylesheet" th:href="@{/css/backgrounds.css}">
</head>
<body class="green-to-blue-bg">
    
    <div layout:fragment="content">

        <form th:action="@{/cards/create}" th:method="post">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />

            <label for="firstSixDigits">Insira os primeiros 6 dígitos</label>
            <input type="number" name="firstSixDigits" id="firstSixDigits" required>

            <br>

            <label for="lastFourDigits">Insira os últimos 4 dígitos do cartão</label>
            <input type="number" name="lastFourDigits" id="lastFourDigits" required>

            <br>

            <label for="cardholderName">Insira o nome no cartão</label>
            <input type="text" name="cardholderName" id="cardholderName" required>

            <br>

            <label for="expirationMonth">Insira o mês de vencimento</label>
            <input type="number" name="expirationMonth" id="expirationMonth" required max="12" min="1">

            <br>

            <label for="expirationYear">Insira o ano de expiração</label>
            <input type="number" name="expirationYear" id="expirationYear" min="2002" required>

            <br>

            <label for="cardType">Insira o tipo do cartão</label>
            <select name="cardType" id="cardType" required>
                <option th:each="cardType : ${cardTypes}" th:value="${cardType}" th:text="${cardType}">
                </option>
            </select>          

            <br>

            <label for="brandName">Insira a marca do cartão</label>
            <input type="text" name="brandName" id="brandName" required> 


            <button type="submit">Enviar</button>

        </form>

    </div>

    <script th:src="@{/js/create-card.js}"></script>
    <script th:src="@{/js/util.js}"></script>

</body>
</html>