<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Expense</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <link rel="stylesheet" th:href="@{/css/create-expenses.css}">
    <link rel="stylesheet" th:href="@{/css/forms.css}">
    
</head>
<body>
    
    <div layout:fragment="content">

        <nav>
            <a onclick="window.history.back()" class="nav-panel">Retornar</a>
        </nav>

        <p th:if="${paymentMethods.isEmpty()}">Você não tem nenhum método de pagamento!!</p>

        <form th:unless="${paymentMethods.isEmpty()}" th:action="@{/expenses/create}" th:method="post">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
            <h2>Adicione uma despesa</h2>
            <div th:if="${!hasCreditCards}" class="warning-field">
                <p>Você não tem nenhum cartão registrado!!!<br> Registre-se <a th:href="@{/cards/create}">aqui</a></p>
            </div>
            <label for="paymentMethodId">Selecione a forma de pagamento</label>
            <select name="paymentMethodId" id="paymentMethodId">
                <option th:each="method : ${paymentMethods}" th:value="${method.id}" th:text="${method.description}">
                </option>
            </select>
            <br>
            <label for="currencyId">Selecione a moeda</label>
            <select name="currencyId" id="currencyId">
                <option th:each="currency : ${currencies}" th:value="${currency.id}" th:text="${currency.currencyFlag}">
                </option>
            </select>
            <br>
            <label for="amount">Insira a quantidade</label>
            <input type="text" name="amount" id="amount" placeholder="Use valores decimais" required>
            <br>
            <label for="date">Data da despesa</label>
            <input type="date" name="date" id="date" placeholder="Insira a data da despesa" required>
            <label for="extra">Informação extra</label>
            <textarea name="extra" id="extra" cols="30" rows="10" placeholder="Coloque algo do qual se lembrará depois"></textarea>
            <br>
            <button type="submit" >Enviar</button>

        </form>

    </div>

    <script th:src="@{/js/src/create-expense.js}"></script>
</body>
</html>