<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>Dashboard</title>
    <link rel="stylesheet" th:href="@{/css/dashboard.css}">
    <link rel="stylesheet" th:href="@{/css/styles.css}">

</head>
<body>

    <nav class="sidebar" layout:fragment="sidebar">
        <div class="main-routes">
            <div class="nav-panel">
                <a th:href="@{/incomes}">Rendimentos</a>
            </div>
            <div class="nav-panel">
                <a th:href="@{/expenses}">Despesas</a>
            </div>
            <div class="nav-panel">
                <a th:href="@{/cards}">Cartões</a>
            </div>
            <div class="nav-panel">
                <a th:href="@{/subscriptions}">Assinaturas</a>
            </div>
            <div class="nav-panel">
                <a th:href="@{/categories}">Categorias</a>
            </div>
            <div class="nav-panel">
                <a th:href="@{/installments}">Parcelamentos</a>
            </div>
        </div>

        <div class="user-config">
            <div class="nav-panel">
                <a href="#">Configurações</a>
            </div>
        </div>
    </nav>


    <main class="main-content" layout:fragment="content">
        <section class="main-panel">
            <div th:if="${incomesSum != null}" class="financial-summary-card">
                <h3>Total de Depósitos</h3>
                <div class="amount">
                    <span class="currency-symbol">R$</span>
                    <span class="amount-value" th:text="${#numbers.formatDecimal(incomesSum, 1, 'POINT', 2, 'COMMA')}"></span>
                </div>
            </div>

            <div th:if="${expensesSum != null}" class="financial-summary-card">
                <h3>Total de Despesas</h3>
                <div class="amount">
                    <span class="currency-symbol">R$</span>
                    <span class="amount-value" th:text="${#numbers.formatDecimal(expensesSum, 1, 'POINT', 2, 'COMMA')}" style="color: red"></span>
                </div>
            </div>
            <div th:if="${subscriptions != null}" class="financial-summary-card double-element-card">
                <h3>Assinaturas Mensais</h3>
                <div class="double-element-details">
                    <div class="primary-detail">
                        <span class="currency-symbol" th:text="${subscriptions.currency.currencySymbol}"></span>
                        <span class="amount-value" th:text="${#numbers.formatDecimal(subscriptions.totalAmount, 1, 'POINT', 2, 'COMMA')}"></span>
                        <span class="detail-label">/mês</span>
                    </div>
                    <div class="secondary-detail">
                        <span th:text="${subscriptions.numberOfSubscriptions}"></span>
                        <span>assinaturas ativas</span>
                        <button id="open-modal-button" class="open-modal-button" title="View active subscriptions">i</button>
                    </div>
                </div>
            </div>
            <div th:if="${installments != null}" class="financial-summary-card double-element-card">
                <h3>Parcelamentos</h3>
                <div class="double-element-details">
                    <div class="primary-detail">
                        <span class="currency-symbol" th:text="${installments.currency.currencySymbol}"></span>
                        <span class="amount-value" th:text="${#numbers.formatDecimal(installments.totalAmount, 1, 'POINT', 2, 'COMMA')}"></span>
                    </div>
                    <div class="secondary-detail">
                        <span th:text="${installments.installments}"></span>
                        <span>parcelamentos restantes</span>
                        <button id="installmentsModal" class="open-modal-button" title="Visualizar parcelamentos">i</button>
                    </div>
                </div>

            </div>

            <dialog class="modal" id="subscription-modal">
                <div id="subscriptionsSummary" class="modal-element-container">
                    <h4>Assinaturas Ativas</h4>
                    <ul>
                        <li th:each="sub : ${subscriptions.subscriptions}" th:text="${sub}"></li>
                    </ul>
                    <button id="closeModalButton" class="close-modal-button">Close</button>
                </div>
            </dialog>

            <dialog class="modal" id="installments-modal">
                <div class="modal-element-container">
                    <h4>Parcelamentos Ativos</h4>
                    <ul>
                        <li th:each="inst : ${installments.subscriptionsDetails}" th:text="${inst}"></li>
                    </ul>
                    <button id="closeInstallment" class="close-modal-button">Ok</button>
                </div>
            </dialog>

        </section>
    </main>


    <footer>

    </footer>

    <script type="module" th:src="@{/js/dist/dashboard.js}">

    </script>
</body>
</html>