<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <link rel="stylesheet" th:href="@{/css/expenses.css}">
    <link rel="stylesheet" th:href="@{/css/tables.css}">
    <title>Despesas</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    
<div layout:fragment="content">
    <nav class="sidebar">
        <div class="main-routes">
            <a th:href="@{/dashboard}" class="nav-panel">Dashboard</a>

            <a th:href="@{/expenses/create}" class="nav-panel">Criar Despesa</a>

            <a href="#" class="nav-panel">Atualizar Despesa</a>
        </div>


    </nav>



    <main class="main-content">

        <p th:if="${expenses.isEmpty}">
            Você não tem nenhuma despesa!!! Clique <a th:href="@{/expenses/create}" class="redirect-anchor">aqui </a> para criar uma
        </p>

        <div th:unless="${expenses.isEmpty}" class="expense-table">
            <table class="entity-display-table">
                <thead>
                    <tr>
                        <th>Método de Pagamento</th>
                        <th>Moeda</th>
                        <th>Quantidade</th>
                        <th>Extra</th>
                        <th>Detalhes</th>
                        <th>Editar</th>
                    </tr>
                </thead>

                <tbody>
                <tr th:each="expense, expenseCount : ${expenses}">
                    <td th:text="${expense.paymentMethod.description}"></td>
                    <td th:text="${expense.currency.currencyFlag}"></td>
                    <td th:text="${expense.amount}"></td>
                    <td th:if="${expense.extraInfo != ''}" th:text="${expense.extraInfo}"></td>
                    <td>
                        <a th:href="${expense.detailedLink}" th:text="Detalhes"></a>
                    </td>
                    <td>
                        <div class="action-icons">
                            <a th:href="@{/expenses/edit/{id}(id=${expense.id})}" title="Editar">
                                <i class="fas fa-pencil-alt edit-icon"></i>
                            </a>
                            <a th:href="@{/expenses/delete/{id}(id=${expense.id})}" title="Excluir">
                                <i class="fas fa-times delete-icon"></i>
                            </a>
                        </div>
                    </td>
                </tr>
                </tbody>

            </table>
        </div>
    </main>



</div>

</body>
</html>