<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/register.css}">
    <title>Cadastre-se</title>
    <link rel="shortcut icon" th:href="@{/favicon.ico}" type="image/x-icon">
</head>
<body>

    <div layout:fragment="content">
        <form th:action="@{/register/submit}" method="post">
            <div id="first-name-field">
                <label for="firstName">First Name</label>
                <input type="text" id="firstName" name="firstName" required>
            </div>
            <div id="last-name-field">
                <label for="lastName">Last Name</label>
                <input type="text" id="lastName" name="lastName" required>
            </div>
            <div id="email-field">
                <label for="email">Email</label>
                <input type="email" id="email" name="email" required>
            </div>
            <div id="password-field">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" required minlength="6">
            </div>
            <div id="currency-field">
                <label for="currency">Selecione sua moeda de preferencia</label>
                <select name="currency" id="currency" required>
                    <option value="" disabled selected>Selecione uma moeda</option>
                    <option th:each="currency : ${currencies}" th:value="${currency.currencyFlag}"
                            th:text="${currency.currencyName}"></option>
                </select>
            </div>
            <div id="btn-div">
                <button type="submit">Register</button>
            </div>
        </form>
    </div>
    
</body>
</html>