<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Assinaturas</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <link rel="stylesheet" th:href="@{/css/subscriptions.css}">
</head>
<body>
<div layout:fragment="content">
   
    <nav class="sidebar">

        <div class="main-routes">

            <div class="nav-pannel">
                <a th:href="@{/dashboard}">Dashboard</a>
            </div>
            <div class="nav-pannel">
                <a th:href="@{/subscriptions/create}">Adicionar Assinatura</a>
            </div>

        </div>

    </nav>

    <div th:if="${subscriptions.isEmpty()}" class="no-subscription">
        <p>Você não tem nenhum assinatura</p>
        <a th:href="@{/subscriptions/create}">Clique aqui para ser redirecionado</a>
    </div>

    <main class="subscriptions-main" th:unless="${subscriptions.isEmpty()}">

        <section class="current-subscriptions-summary">
            <h2>Resumo do Mês</h2>
            <div class="current-subscriptions-summary-container">
                <div class="summary-data" th:text="'Total: ' + ${summary.currencySymbol()} + ' ' + ${#numbers.formatDecimal(summary.totalAmount(), 1, 2)}"></div>
                <div class="summary-data" th:text="'Assinaturas: ' + ${subscriptions.size()}"> </div>
            </div>
        </section>

    </main>

</div>
</body>
</html>