<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Assinaturas</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <link rel="stylesheet" th:href="@{/css/subscriptions.css}">
    <link rel="stylesheet" th:href="@{/css/tables.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
</head>
<body>
<div layout:fragment="content">

    <nav class="sidebar">

        <div class="main-routes">

            <div class="nav-panel">
                <a th:href="@{/dashboard}">Dashboard</a>
            </div>
            <div class="nav-panel">
                <a th:href="@{/subscriptions/create}">Adicionar Assinatura</a>
            </div>

        </div>

    </nav>

    <div th:if="${subscriptions.isEmpty()}" class="no-subscription">
        <p>Você não tem nenhuma assinatura</p>
        <a th:href="@{/subscriptions/create}" class="redirect-anchor">Clique aqui para ser redirecionado</a>
    </div>

    <main class="main-content" th:unless="${subscriptions.isEmpty()}">

<!--        <section class="subscriptions-data-section">-->

<!--            <h2>Resumo do Mês</h2>-->
<!--            <div class="subscription-data-container">-->
<!--                <div class="summary-data" th:text="'Total: ' + ${summary.currencySymbol()} + ' ' + ${#numbers.formatDecimal(summary.totalAmount(), 1, 2)}"></div>-->
<!--            </div>-->

<!--            <div class="subscription-data-container">-->
<!--                <div class="summary-data" th:text="'Assinaturas: ' + ${subscriptions.size()}"> </div>-->
<!--            </div>-->

<!--        </section>-->

        <section>
            <form class="controls-section" method="get" action="/subscriptions/">

                <div class="filter-group">
                    <div class="filter-item">

                    </div>
                </div>

            </form>

        </section>

    <section>

        <h2 th:text="Asinaturas"></h2>

        <table class="entity-display-table">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Valor</th>
                    <th>Método de Pagamento</th>
                    <th>Categoria</th>
                    <th>Detalhes</th>
                    <th>Ações</th>
                </tr>
            </thead>

            <tbody>
                <tr th:each="sub : ${subscriptions}">
                    <td th:text="${sub.name}"></td>
                    <td th:text="${sub.currency.currencySymbol} + ' ' + ${sub.cost}"></td>
                    <td th:text="${sub.paymentMethod.description}"></td>
                    <td th:text="${sub.category.categoryName}"></td>
                    <td>
                        <a th:href="@{'/subscriptions/' + ${sub.id}}" class="details-link" aria-label="Ver detalhes">
                            <i class="fa-solid fa-eye"></i>
                        </a>
                    </td>
                    <td class="action-icons">
                        <a th:href="@{/subscriptions/edit/{id}(id=${sub.id})}" title="Editar">
                            <i class="fas fa-pencil-alt edit-icon"></i>
                        </a>
                        <a th:href="@{/subscriptions/delete/{id}(id=${sub.id})}" title="Excluir">
                            <i class="fas fa-times delete-icon"></i>
                        </a>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td th:text="'Total: ' + ${summary.currencySymbol} + ' ' + ${#numbers.formatDecimal(summary.totalAmount, 1, 2)}"></td>
                </tr>
            </tfoot>
        </table>

    </section>


    </main>

</div>
</body>
</html>