

* {
    font-size: 0.97em;
}

.no-subscription {

    margin-left: 180px;
    position: relative;

}

.no-subscription p {
    font-weight: 700;
}

.no-subscription a {
    color: var(--main-blue);
}

