
table {

    border-collapse: collapse;
    border-spacing: 0;
}


table.entity-display-table {

    padding: 0;
    margin: 0;
    text-align: left;
    font-size: 0.9em;
    min-width: 450px;
    width: 100%;
    border-radius: 5px;
    table-layout: fixed;
    overflow: hidden;

}

table.entity-display-table thead tr {

    background-color: var(--main-blue);
    border-radius: 3px;

}

table.entity-display-table tr {
    border-bottom: 1px solid #dddddd;
}


table.entity-display-table th {
    color: #ffffff;
    padding: 8px;
}

table.entity-display-table tbody td {
    padding: 8px;
}

table.entity-display-table tbody tr:nth-of-type(even) {
    background-color: #dddddd;
}

table.entity-display-table tfoot td {
    padding: 8px;
    background-color: var(--main-green);
    font-weight: 600;
    color: white;
}


